Add RFC 2119 language, text about ASN.1

From Russ:

I suggest that you add this to the end of Section 1:

1.1.  Terminology

  The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
  "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
  document are to be interpreted as described in [RFC2119].

1.2.  ASN.1

  The Cryptographic Message Syntax (CMS) [RFC5652] and asymmetric key
  packages [RFC5958] are generated using ASN.1 [X680], which uses the Basic
  Encoding Rules (BER) and the Distinguished Encoding Rules (DER)
  [X690].


Then to the normative references:


  [RFC2119] Bradner, S., "Key words for use in RFCs to Indicate
             Requirement Levels", BCP 14, RFC 2119, March 1997.

  [X680]     ITU-T, "Information technology -- Abstract Syntax Notation
             One (ASN.1): Specification of basic notation", ITU-T
             Recommendation X.680, 2015.

  [X690]     ITU-T, "Information technology -- ASN.1 encoding rules:
             Specification of Basic Encoding Rules (BER), Canonical
             Encoding Rules (CER) and Distinguished Encoding Rules
             (DER)", ITU-T Recommendation X.690, 2015.


Edits made and committed.